{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<h1 class="title">{{.Title}}</h1>
<div class="content {{if .Site.Params.enable_anchor_link}}{{ "anchor-link-enabled" }}{{ end }}">
  {{.Content}}
</div>
<div class="next-previous">
  <!-- Yes, they are backwards -->
  {{ with .Next }}
    <a href="{{ .Permalink }}" class="previous"><i class="fas fa-chevron-left"></i> Previous</a>
  {{ end }}

  {{ with .Prev }}
    <a href="{{ .Permalink }}" class="next">Next <i class="fas fa-chevron-right"></i></a>
  {{ end }}
</div>
</div>
{{ end }}